*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    
}


.wraper{
    position: absolute;
    top: 13%;
    left: 85%;
   
   
    display: flex;
    gap: 1rem;
    
    background-color: transparent;
}
.dot{
    background-color: #653bd8;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: animate 1s ease-in-out infinite alternate;
}
.dot:nth-child(1){
   background-color: #d83b6f;
   animation-delay: -0.25s;
}
.dot:nth-child(2){
    background-color: #653bd8;
    animation-delay: -0.5s;
}
.dot:nth-child(3){
    background-color: #0a6169;
    animation-delay: -0.75s;
}
.dot:nth-child(4){
   background-color: #d83b6f;
   animation-delay: -1s;
}
@keyframes animate{
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(5px);
    }
}
.container{
 max-width: 100%;
 height: 100vh;
 position: relative;
 /* background-color: blue; */
}
.grid_container{
   display: flex;
   flex: 1;
   flex-direction: column;
   /* align-items: center; */
   justify-content: center;
}
.vertical_container{
   display: flex;
   flex: 1;
   gap: 4rem;

}
.box1{
    
    background-color: #F4538A;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    gap: 5rem;
}

.logo{
    font-size: 4rem;
    color: #0a6169;
    font-weight: 900;
    background-color: transparent;
}
.BOX1_SPAN{
    font-size: 3rem;
    color: #fff;
    letter-spacing: 7px;
    font-weight: 900;
}
.box2{
   
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 20px;
    border-top-left-radius: 0;
    overflow-y: scroll;

 
    gap: 4rem;
    background-color: #9BB0C1;
  
  width: 30%;

  /* box-shadow: 4px 4px 10px #d83b6f; */
    /* box-shadow:  0px 8px 8px 2px rgba(0, 0, 0, 0.2); */

}
.box3::-webkit-scrollbar-thumb {
  background-color: transparent;
    border-radius: 0.25em;
    width: 0.5em;
  }
  dialog::backdrop{
    background-image: linear-gradient(to bottom, #d83b6f, #e0a3b7);;
  }
.box3{
    clip-path: polygon(0% 15%, 15% 15%,15% 0%,85% 0%,85% 15%,100% 15%,100% 87%,100% 94%,100% 100%,0% 100%,0% 86%,0% 85%);
    background-color: #9BB0C1;
    /* background-color: #FAA300; */
    /* background-color: #fff; */
    width: 60%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 4rem;
    /* box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.2); */
    /* box-shadow: 0 0 10px #d83b6f; */
    /* overflow-y: scroll; */
}

.box2_header{
    font-size: 4rem;
    text-align: center;
    color: #555;
    opacity: 0.7;
    letter-spacing: 2px;
}
.new_project_btn{
    width: 15rem;
    height: auto;
    font-size: 2rem;
    border-radius: 6PX;
    /* align-self: center; */
    margin-left: 3rem;
}
.project_name_container{
    width: 100%;
    height: 24rem;
    background-color: azure;
    overflow-y: scroll;
}
.project_add{
    text-align: center;
    border-bottom: 1px solid #555;
    padding: 1rem;
}
.add_pro{
    width: 15rem;
    font-size: 1.5rem;
    height: 4rem;
    border-radius: 5px;
    border: none;
    border: 1px solid #FFF;
    background-color: #F4538A;
    color: #fff;
    font-weight: 900;
    align-self: center;
    box-shadow: 6px 6px 15px rgba(255, 255, 255, 0.3);
}
.add_pro:hover{
  
    border: 1px solid #d83b6f;
    background-color: #FFF;
    color: #d83b6f;
   
}
.add_pro span{
    font-size: 1.5rem;
     padding-left: 4rem;
}

.project_displyer{
 display: flex;
 align-items: center;
 /* background-color: #59D5E0; */
 background-color:  #F4538A;
 gap: 2rem;
 padding: 1rem 2rem;
 width: 80%;
 margin: 0 auto;
 color: #fff;
 box-shadow: 2px 6px 4px rgba(224, 111, 111, 0.2);
 border-radius: 10px;
 /* margin-top:3rem ; */
}
.icondelete{
    font-size: 3rem;
    color: red;
    font-weight: 900;
   
}
.top_proname{
    font-size: 1px;
    color: #555;
    /* border: 1px solid black; */
    width: 20rem;
    height: 10px;
    margin-left: 0rem;
    margin-top: 6rem;
    display: flex;
    align-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
   
}
.icondelete{
    /* color: #D24545; */
    font-weight: 900;
}
.iconedit{
    font-size: 3rem;
}
.icon_home{
    font-size: 3rem;
}
.name_of_project{
    font-size: 2rem;
    border: 1px solid #fff;
    width: 15rem;
    text-align: center;
    padding: 3px;
   border-radius: 5px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
   transition: transform 0.2s ease-in-out;
   font-family: monospace;
}
.name_of_project:active {
    transform: scale(1.1);
  }

.box3 h1{
 font-size: 3rem;
 padding: 3rem 0rem 4rem 2rem;
}
.icondelete_pro{
    font-size: 4rem;
}
.disabled {
    /* Styles for disabled state */
    opacity: 0.5; /* Example: reduce opacity */
    cursor: not-allowed; /* Example: show not-allowed cursor */
  }
  .iconedit2{
    color: #0a6169;
    font-weight: 900;
    background-color:transparent;
    margin: 0;
  }
.TO-DO-LIST_displyer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
   
    margin: 0 auto;
    border: 1px solid #A94438;
    margin-top: 1rem;
    padding: 1rem;
    color: #fff;
    border-radius: 10px;
}
.this_contentchange{
    overflow-y: scroll;
    /* background-color: aqua; */
    width: 90%;
    height: 100vh;
    /* height: 100v; */
    margin: 0 auto;
}
.radiobtncont{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.radiobtncont p{
   font-size: 2rem;
   font-family: monospace;
}
.datecont{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.datecont p{
    font-size: 2rem;
    font-family: Brush Script MT ,cursive;
}
.add_task_btn{
    margin: 0 auto;
    /* margin-top: 6rem;  */
    margin-bottom: 4rem;
    width: 14rem;
}
.add_task{
    border: none;
    background-color: #d83b6f;
    border: 1px solid #fff;
    width: 400px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 800;
  
}

.add_pro span{
    font-size: 2rem;
}
.add_task_btn button{
      width: 8rem;
      height: 2rem;
      font-size: 1rem;
}
.dialog3{
    width: 40rem;
    height: 17rem;
    margin: 0 auto;
    margin-top: 10rem;
    border: none;
    text-align: center;
    padding-top: 3rem;
    /* background-color: #d83b6f; */
    background-image: linear-gradient(to bottom, #d83b6f, #e0a3b7);
    border: 1px solid #fff;
    border-radius: 20px;

}
.form3{
    display: flex;
    flex-direction: column;
    gap: 3rem;
     align-items: center;
}
.input_box3{
    display: flex;
    align-items: center;
   gap: 2rem;
 
}
.third_lebelname{
    font-size: 2rem;
    font-family: monospace;
    letter-spacing: 1px;
    color: #555;
}
.dialogname3{
    height: 2rem;
    width: 16rem;
    border-radius: 5px;
    border: 1px solid #d83b6f;
    box-shadow: 0 0 10px rgba(216, 59, 111, 0.5);
    font-size: 1.4rem;
    text-align: center;
    color: #555;
    font-weight: 900;
}
.btn_submit_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 2rem;
}
.submit3{
    width: 7rem;
    height: 2rem;
    border: 1px solid #FFF;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(216, 59, 111, 0.5);
    font-size: 1.2rem;
    font-style: italic;
    font-family: monospace;
    font-weight: 900;
    color: #555;

}
.submit3:hover{
    transform: scale(1.3);
}
.cancel3:hover{
    transform: scale(1.3);
}
.cancel3{
    font-size: 1.2rem;
    font-style: italic;
    font-family: monospace;
    font-weight: 900;
    color: #555;
    width: 7rem;
    height: 2rem;
    border: 1px solid #FFF;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(216, 59, 111, 0.5);
}

/* the dialog 4 part */
.third_lebelname{
    font-size: 2rem;
    font-family: monospace;
    letter-spacing: 1px;
    color: #555;
}
.submit4{
    width: 7rem;
    height: 2rem;
    border: 1px solid #FFF;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(216, 59, 111, 0.5);
    font-size: 1.2rem;
    font-style: italic;
    font-family: monospace;
    font-weight: 900;
    color: #555;

}
.submit4:hover{
    transform: scale(1.3);
}
.cancel4:hover{
    transform: scale(1.3);
}
.cancel4{
    font-size: 1.2rem;
    font-style: italic;
    font-family: monospace;
    font-weight: 900;
    color: #555;
    width: 7rem;
    height: 2rem;
    border: 1px solid #FFF;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(216, 59, 111, 0.5);
}
.dialogname4{
    height: 2rem;
    width: 16rem;
    border-radius: 5px;
    border: 1px solid #d83b6f;
    box-shadow: 0 0 10px rgba(216, 59, 111, 0.5);
    font-size: 1.4rem;
    text-align: center;
    color: #555;
    font-weight: 900;
}
.dialog4{
    width: 40rem;
    height: 17rem;
    margin: 0 auto;
    margin-top: 10rem;
    border: none;
    text-align: center;
    padding-top: 3rem;
    /* background-color: #d83b6f; */
    background-image: linear-gradient(to bottom, #d83b6f, #e0a3b7);
    border: 1px solid #fff;
    border-radius: 20px;   
}
.dialog5{
    width: 600px;
    height: 250px;
    margin: 0 auto;
    margin-top: 10%;
    border: none;
    border: 1px solid #fff;
    border-radius: 10px;
}
.cancel5container{
    display: flex;
    justify-content: end;
  padding-right: 3rem;
  padding-bottom: 1rem;
 
}
.cancel5{
  width: 80px;
  margin-top:30px;
  height: 23px;
  font-size: 1.2rem;
  font-style: italic;
  font-family: monospace;
  font-weight: 900;

  text-align: center;
  letter-spacing: 1px;
  border: none;
  border-radius: 4px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #d83b6f;
 
}
.discription_container{
    font-size: 1.4rem;
    font-family: monospace;
    font-weight: 600;
    letter-spacing: 1px;
    text-wrap: wrap;
    padding: 3rem;
    color: #555;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 70%;
}

.dialog{
    width: 40rem;
    height: 47rem;
    margin: 0 auto;
    margin-top: 10rem;
    border: none;
    text-align: center;
    padding-top: 3rem;
    /* background-color: #d83b6f; */
    background-image: linear-gradient(to bottom, #d83b6f, #e0a3b7);
    border: 1px solid #fff;
    border-radius: 20px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
   align-items: center;
  
}
.form div label{
    font-size: 2rem;
    text-align: center;
    color: #fff;
   font-weight: 900;
   letter-spacing: 2px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: aqua; */
}
.input_box{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
   gap: 2rem;
}
.form div input{
    font-size: 1.5rem;
    text-align: center;
    width: 15rem;   
    outline: none;
    border-radius: 5px;
    border: none;
}
#myDropdown{
width: 15rem;
height: 2rem;
text-align: center;
font-size: 1.5rem;
outline: none;
    border-radius: 5px;
    border: none;
}
textarea{
 width: 25rem;
 font-size: 1.3rem;
 border-radius: 10px;
 background-image: linear-gradient(to right, #f1769f, #e0a3b7);
 border: none;
 border: 1px solid #fff;
 padding: 10px;
 color: #f5f5f5;
}
.submit{
  width: 9rem;
  height: 3rem;
  font-size: 1.4rem;
  background-color: #d83b6f;
  color: #fff;
 font-weight: 900;
 border: none;
 margin: 10px;
 border-radius: 4px;
}
.cancel{
    width: 9rem;
    height: 3rem;
    font-size: 1.4rem;
    background-color: #d83b6f;
  color: #fff;
 font-weight: 900;
 border: none;
 border-radius: 4px;
}

.viewicon{
    font-size: 4rem;
    color: #0a6169;
}
