*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
/* mycolors
#EEEDEB
#E0CCBE
#747264
#3C3633 */
.wraper{
    position: absolute;
    top: 13%;
    left: 85%;
   
   
    display: flex;
    gap: 1rem;
    
    background-color: transparent;
}
.dot{
    background-color: #653bd8;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: animate 1s ease-in-out infinite alternate;
}
.dot:nth-child(1){
   background-color: #d83b6f;
   animation-delay: -0.25s;
}
.dot:nth-child(2){
    background-color: #653bd8;
    animation-delay: -0.5s;
}
.dot:nth-child(3){
    background-color: #0a6169;
    animation-delay: -0.75s;
}
.dot:nth-child(4){
   background-color: #d83b6f;
   animation-delay: -1s;
}
@keyframes animate{
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(5px);
    }
}
.container{
 max-width: 100%;
 height: 100vh;
 position: relative;
 /* background-color: blue; */
}
.grid_container{
   display: flex;
   flex: 1;
   flex-direction: column;
   /* align-items: center; */
   justify-content: center;
}
.vertical_container{
   display: flex;
   flex: 1;

}
.box1{
    
    background-color: #F4538A;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    gap: 5rem;
}
.logo{
    font-size: 4rem;
    color: #0a6169;
    font-weight: 900;
    background-color: transparent;
}
.BOX1_SPAN{
    font-size: 3rem;
    color: #fff;
    letter-spacing: 7px;
    font-weight: 900;
}
.box2{
   
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
  /* padding: 5rem; */
  /* background-color: #F5DD61; */
  background-color: #fff;
    gap: 4rem;
  width: 20%;
    box-shadow: inset 0px 8px 8px 2px rgba(0, 0, 0, 0.2);
}
.box3{
    /* background-color: #FAA300; */
    background-color: #fff;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.2);
    /* overflow-y: scroll; */
}

.box2_header{
    font-size: 4rem;
    text-align: center;
    color: #555;
    opacity: 0.7;
    letter-spacing: 2px;
}
.new_project_btn{
    width: 15rem;
    height: auto;
    font-size: 2rem;
    border-radius: 6PX;
    /* align-self: center; */
    margin-left: 3rem;
}
.project_name_container{
    width: 100%;
    height: 24rem;
    background-color: azure;
    overflow-y: scroll;
}
.project_add{
    text-align: center;
    border-bottom: 1px solid #555;
    padding: 1rem;
}
.add_pro{
    width: 15rem;
    font-size: 1.5rem;
    height: 4rem;
    border-radius: 5px;
    border: none;
    border: 1px solid #FFF;
    background-color: #F4538A;
    color: #fff;
    font-weight: 900;
    align-self: center;
    box-shadow: 6px 6px 15px rgba(255, 255, 255, 0.3);
}
.add_pro:hover{
  
    border: 1px solid #d83b6f;
    background-color: #FFF;
    color: #d83b6f;
   
}
.add_pro span{
    font-size: 1.5rem;
     padding-left: 4rem;
}

.project_displyer{
 display: flex;
 align-items: center;
 /* background-color: #59D5E0; */
 background-color:  #0a6169;
 gap: 1rem;
 padding: 1rem 2rem;
 width: 100%;
 margin: 0 auto;
 color: #fff;
 box-shadow: 2px 6px 4px rgba(0, 0, 0, 0.2);
 border-radius: 10px;
 /* margin-top:3rem ; */
}
.icondelete{
    font-size: 3rem;
    color: red;
    font-weight: 900;
   
}
.top_proname{
    font-size: 1px;
    color: #555;
    /* border: 1px solid black; */
    width: 20rem;
    height: 10px;
    display: flex;
    align-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
   
}
.icondelete{
    /* color: #D24545; */
    font-weight: 900;
}
.iconedit{
    font-size: 3rem;
}
.icon_home{
    font-size: 3rem;
}
.name_of_project{
    font-size: 2rem;
    border: 1px solid #fff;
    width: 15rem;
    text-align: center;
    padding: 3px;
   border-radius: 5px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
   transition: transform 0.2s ease-in-out;
   font-family: monospace;
}
.name_of_project:active {
    transform: scale(1.1);
  }

.box3 h1{
 font-size: 3rem;
 padding: 3rem 0rem 4rem 2rem;
}
.icondelete_pro{
    font-size: 4rem;
}
.disabled {
    /* Styles for disabled state */
    opacity: 0.5; /* Example: reduce opacity */
    cursor: not-allowed; /* Example: show not-allowed cursor */
  }
  .iconedit2{
    color: #0a6169;
    font-weight: 900;
    background-color:transparent;
    margin: 0;
  }
.TO-DO-LIST_displyer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
   
    margin: 0 auto;
    border: 1px solid #A94438;
    margin-top: 1rem;
    padding: 1rem;
    color: #fff;
    border-radius: 10px;
}
.this_contentchange{
    overflow-y: scroll;
    /* background-color: aqua; */
    width: 90%;
    height: 100vh;
    /* height: 100v; */
    margin: 0 auto;
}
.radiobtncont{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.radiobtncont p{
   font-size: 2rem;
   font-family: monospace;
}
.datecont{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.datecont p{
    font-size: 2rem;
    font-family: Brush Script MT ,cursive;
}
.add_task_btn{
    margin: 0 auto;
    /* margin-top: 6rem;  */
    margin-bottom: 4rem;
    width: 14rem;
}
.add_task{
    border: none;
    background-color: #d83b6f;
    border: 1px solid #fff;
    width: 400px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 800;
  
}

.add_pro span{
    font-size: 2rem;
}
.add_task_btn button{
      width: 8rem;
      height: 2rem;
      font-size: 1rem;
}
.dialog{
    width: 40rem;
    height: 45rem;
    margin: 0 auto;
    margin-top: 6rem;
    border: none;
    text-align: center;
    padding-top: 3rem;
}
.form{
  display: flex;
  flex-direction: column;
 gap: 2rem;
  align-items: center;
  
}
.form div label{
    font-size: 2rem;
    text-align: center;
  
    /* background-color: aqua; */
}
.input_box{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
   gap: 2rem;
}
.form div input{
    font-size: 1.5rem;
    text-align: center;
    width: 25rem;   
}
#myDropdown{
width: 20rem;
height: 4rem;
text-align: center;
font-size: 1.5rem;
}
textarea{
 width: 25rem;
 font-size: 1.3rem;
}
.submit{
  width: 9rem;
  height: 3rem;
  font-size: 1.4rem;
}
.cancel{
    width: 9rem;
    height: 3rem;
    font-size: 1.4rem;
}
/* .form div input[type="date"]{
    width: 30rem;
} */
